<a href="https://colab.research.google.com/github/Skotmak/SQL_homeworks/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D1%8B%D0%B5_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B_%D0%BF%D0%BE_SQL_%D0%9A%D0%BE%D1%87%D0%B5%D1%82%D0%BA%D0%BE%D0%B2_%D0%9C_%D0%92_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 1

Ответ на вопрос:

> `SELECT * FROM users`
*   Выводит всё, что есть в данной бд

> `SELECT rowid, * FROM users` 
*   Выводит всё, что есть в таблице, и в начале строки добавляет номер строки

> `cur.execute("DROP TABLE users") ` 
*   Команда выполняет удаление таблицы users

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS users(
      id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
      sex INTEGER ,
      name TEXT,
      level INTEGER ,
      score INTEGER ); 
   """)
    sql_con.commit()

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Алексей', 22, 1000);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Миша', 19, 800);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Федор', 26, 1100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (2, 'Маша', 18, 1500);
   """)
    sql_con.commit()

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1, 1, 'Алексей', 22, 1000)
(2, 1, 'Миша', 19, 800)
(3, 1, 'Федор', 26, 1100)
(4, 2, 'Маша', 18, 1500)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur1 = sql_con.cursor()
    print("База данных подключена к SQLite")
    for i in cur1.execute("""SELECT rowid, * FROM users"""):
      print(i)

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1, 1, 1, 'Алексей', 22, 1000)
(2, 2, 1, 'Миша', 19, 800)
(3, 3, 1, 'Федор', 26, 1100)
(4, 4, 2, 'Маша', 18, 1500)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("DROP TABLE users")


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 2

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("""CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
    )""")
    cur.close()
    cur2 = sql_con.cursor()
    cur2.execute("""INSERT INTO users (name, old, score) VALUES('Алексей', 18, 1000);""")
    sql_con.commit()
    cur2.close()
    

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 3

Ответ на вопрос: ранее мы указывали, когда создавали таблицу, что колонке "sex" мы всегда будем присваивать значение "1". Поэтому при добавлении записи можно не указывать данный столбец, если мы добавляем пользователей мужского пола

# Задание 4

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("""CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
    )""")
    cur.close()
    cur2 = sql_con.cursor()
    cur2.execute("""INSERT INTO users VALUES('Михаил', 1, 19, 1000)""")
    cur2.close()
    cur3 = sql_con.cursor()
    cur3.execute("""INSERT INTO users (name, old, score) VALUES('Федор', 32, 200)""")
    cur3.close()
    
    sql_con.commit()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 5.1

Ответ на вопрос: в первом случае мы делаем запрос на вывод определённых столбцов "name, old, score", а во втором мы выводим все столбцы

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, old, score FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 18, 1000)
('Михаил', 19, 1000)
('Федор', 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 5.2

Ответ на вопрос:

> `SELECT * FROM users WHERE score < 1000`
*   Вывести все записи, где у записей колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE score BETWEEN 500 AND 1000`
*   Вывести все записи, где у записей колонка "score" имеет данные между 500 и 1000

> `SELECT * FROM users WHERE old = 32`
*   Вывести все записи, где у записей колонка "old" равна 32

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score BETWEEN 500 AND 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old = 32"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 5.3

Ответ на вопрос:

> `SELECT * FROM users WHERE old > 20 AND score < 1000`
*   Вывести все записи, где у записей колонка "old" имеет данные больше 20 и колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE old IN(19, 32) AND score < 1000`
*   Вывести все записи, где у записей колонка "old" имеет данные "19" и "32" и колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1`
*   Вывести все записи, где у записей колонка "old" имеет данные "19" и "32" и колонка "score" имеет данные больше 300 или колонка "sex" имеет данные равные 1

> `SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300`
*   Вывести все записи, где у записей (колонка "old" имеет данные "19" и "32" или колонка "sex" равна 1) и колонка "score" имеет данные больше 300. ***Первым выполняется то, что в скобках***

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old > 20 AND score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old IN(19, 32) AND score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
Соединение с SQLite закрыто

# Задание  6

Ответ на вопрос:

> `SELECT * FROM users WHERE score < 1000 ORDER BY old`
*   Вывести все записи, где у записей колонка "score" меньше 1000 и сортирует это всё по возрастанию (по умолчанию это ASC)

> `SELECT * FROM users WHERE score < 1000 ORDER BY old DESC`
*   Вывести все записи, где у записей колонка "score" меньше 1000 и сортирует это всё по убыванию

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000 ORDER BY old"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000 ORDER BY old DESC"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 7

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Мария', 18, 400);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (1, 'Сергей', 33, 2000);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (1, 'Владимир', 43, 100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Елена', 18, 1500);
   """)
    cur5 = sql_con.cursor()
    cur5.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Юля', 23, 700);
   """)
    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [4]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5"""):
      print(i)
    cur1.close() 
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Сергей', 1, 33, 2000)
('Елена', 2, 18, 1500)
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Юля', 2, 23, 700)
Соединение с SQLite закрыто

Ответ на вопрос:

> `SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5 OFFSET 2`
*   Вывести все записи, где у записей колонка "score" имеет данные больше 100 сделать сортировку по убыванию, вывести только 5 записей и пропустить 2 записи

> `SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 2`
*   Вывести все записи, где у записей колонка "score" имеет данные больше 100 сделать сортировку по убыванию, вывести только 2 записи

In [9]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5 OFFSET 2"""):
      print(i)
    cur1.close() 
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Юля', 2, 23, 700)
('Мария', 2, 18, 400)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [10]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 2"""):
      print(i)
    cur1.close() 
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Сергей', 1, 33, 2000)
('Елена', 2, 18, 1500)
Соединение с SQLite закрыто

# Задание 8

Ответ на вопрос:

> `UPDATE users SET score = 1000 WHERE rowid = 1`
*   Изменить данные у строки 1 и сделать их "score = 1000" 

> `UPDATE users SET score = score+500 WHERE sex = 2`
*   Изменить данные у строк, где колонка "sex = 2" и добавить к их значениям 500 

> `UPDATE users SET score = 1500 WHERE name LIKE 'Федор'`
*   Изменить данные у строк, у которых в колонке name есть 'Федор' и сделать их "score = 1500" 

> `UPDATE users SET score = score+100 WHERE name LIKE 'М%'`
*   Изменить данные у строк, у которых в колонке name есть 'М%' (это регулярное выражение) и добавить к их значениям 100   

> `UPDATE users SET score = score+100 WHERE name LIKE 'С_рг%'`
*   Изменить данные у строк, у которых в колонке name есть 'С_рг%' (это регулярное выражение) и добавить к их значениям 100

In [11]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    UPDATE users SET score = 1000 WHERE rowid = 1
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    UPDATE users SET score = score+500 WHERE sex = 2
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    UPDATE users SET score = 1500 WHERE name LIKE 'Федор'
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    UPDATE users SET score = score+100 WHERE name LIKE 'М%'
   """)
    cur5 = sql_con.cursor()
    cur5.execute("""
    UPDATE users SET score = score+100 WHERE name LIKE 'С_рг%'
   """)
    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 9

Ответ на вопрос:

> `DELETE FROM users WHERE rowid IN(2, 5)`
*   Удалить записи где rowid = 2 и 5 

> `SELECT rowid, * FROM users`
*   Выводит всё, что есть в таблице, и в начале строки добавляет номер строки 

> `INSERT INTO users VALUES('Даша', 2, 24, 1200)`
*   Вставить данные в таблицу users

In [12]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    DELETE FROM users WHERE rowid IN(2, 5)
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users VALUES('Даша', 2, 24, 1200)
   """)

    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 10

In [15]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS games(
      user_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
      time INTEGER ,
      score INTEGER ); 
   """)
    sql_con.commit()

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO games (time, score) VALUES (22, 1000);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO games (time, score) VALUES (19, 800);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO games (time, score) VALUES (26, 1100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO games (time, score) VALUES (18, 1500);
   """)
    sql_con.commit()

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 11

Ответ на вопрос:

> `SELECT count(user_id) FROM games WHERE user_id = 1`
*   Вывести количество значений по колонке "user_id", где user_id = 1

> `SELECT count() as count FROM games WHERE user_id = 1`
*   Вывести количество значений, где user_id = 1

In [17]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT count(user_id) FROM games WHERE user_id = 1"""):
      print(i)

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1,)
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [18]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT count() as count FROM games WHERE user_id = 1"""):
      print(i)

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(4,)
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 12

Ответ на вопрос:

> `SELECT DISTINCT user_id FROM games`
*   Вывести уникальные записи по колонке "user_id"

> `SELECT count(DISTINCT user_id) as count FROM games`
*   Вывести количество уникальных значений по колонке "user_id" и назвать её "count"

> `SELECT sum(score) as sum FROM games WHERE user_id = 1`
*   Вывести сумму значений по колонке "score" и назвать её "sum", где "user_id = 1"

> `SELECT max(score) FROM games WHERE user_id = 1`
*   Вывести максимальное значение по колонке "score", где "user_id = 1"

> `SELECT min(score) FROM games WHERE user_id = 1`
*   Вывести минимальное значение по колонке "score", где "user_id = 1"

In [20]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT DISTINCT user_id FROM games"""):
      print(i)
    print("-------------------------")
    cur2 = sql_con.cursor()
    for i in cur2.execute("""SELECT count(DISTINCT user_id) as count FROM games"""):
      print(i)
    print("-------------------------")
    cur3 = sql_con.cursor()
    for i in cur3.execute("""SELECT sum(score) as sum FROM games WHERE user_id = 1"""):
      print(i)
    print("-------------------------")
    cur4 = sql_con.cursor()
    for i in cur4.execute("""SELECT max(score) FROM games WHERE user_id = 1"""):
      print(i)
    print("-------------------------")
    cur5 = sql_con.cursor()
    for i in cur5.execute("""SELECT min(score) FROM games WHERE user_id = 1"""):
      print(i)
    print("-------------------------")

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(1,)
(2,)
(3,)
(4,)
-------------------------
(4,)
-------------------------
(1000,)
-------------------------
(1000,)
-------------------------
(1000,)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 13

Ответ на вопрос:

> `SELECT user_id, sum(score) as sum FROM games GROUP BY user_id`
*   Вывести колонки "user_id", сумму значений по колонке "score" и назвать её "sum" и сгруппировать это всё по колонке "user_id"

In [21]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT user_id, sum(score) as sum FROM games GROUP BY user_id"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(1, 1000)
(2, 800)
(3, 1100)
(4, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 14

Ответ на вопрос:

> `SELECT user_id, sum(score) as sum FROM games WHERE score > 300 GROUP BY user_id ORDER BY sum DESC`
*   Вывести колонки "user_id", сумму значений по колонке "score" и назвать её "sum", где "score > 300", сгруппировать это всё по колонке "user_id" и отсортировать все значения по убыванию

Отличается это всё от предыдущего запроса тем, что у нас здесь есть дополнительные параметры уточняющие запрос

In [22]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT user_id, sum(score) as sum FROM games WHERE score > 300 GROUP BY user_id ORDER BY sum DESC"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(4, 1500)
(3, 1100)
(1, 1000)
(2, 800)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 15

Ответ на вопрос: Изменится вывод. Будет выводиться только 1 запись

In [23]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT user_id, sum(score) as sum FROM games WHERE score > 300 GROUP BY user_id ORDER BY sum DESC LIMIT 1"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(4, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 16

Ответ на вопрос:

> `SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid`
*   Вывести колонки "name", "sex", "games.score" используя метод **JOIN**

In [24]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
('Алексей', 1, 1000)
('Федор', 1, 1100)
('Мария', 2, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 17

Ответ на вопрос:

> `SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid`
*   Вывести колонки "name", "sex", "games.score" используя метод **INNER JOIN**

> `SELECT name, sex, games.score FROM games LEFT JOIN users ON games.user_id = users.rowid`
*   Вывести колонки "name", "sex", "games.score" используя метод **LEFT JOIN**

In [26]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, sex, games.score FROM games INNER JOIN users ON games.user_id = users.rowid"""):
      print(i)
    print("-------------------------")
    cur2 = sql_con.cursor()
    for i in cur2.execute("""SELECT name, sex, games.score FROM games LEFT JOIN users ON games.user_id = users.rowid"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
('Алексей', 1, 1000)
('Федор', 1, 1100)
('Мария', 2, 1500)
-------------------------
('Алексей', 1, 1000)
(None, None, 800)
('Федор', 1, 1100)
('Мария', 2, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 18

In [35]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""
    SELECT user_id, score FROM games
    UNION 
    SELECT name, score FROM users"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(1, 1000)
(2, 800)
(3, 1100)
(4, 1500)
('Алексей', 1000)
('Владимир', 100)
('Даша', 1200)
('Елена', 2000)
('Мария', 1000)
('Федор', 1500)
('Юля', 1200)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто