<a href="https://colab.research.google.com/github/Skotmak/SQL_homeworks/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D1%8B%D0%B5_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B_%D0%BF%D0%BE_SQL_%D0%9A%D0%BE%D1%87%D0%B5%D1%82%D0%BA%D0%BE%D0%B2_%D0%9C_%D0%92_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 1

Ответ на вопрос:

> `SELECT * FROM users`
*   Выводит всё, что есть в данной бд

> `SELECT rowid, * FROM users` 
*   Выводит всё, что есть в таблице, и в начале строки добавляет номер строки

> `cur.execute("DROP TABLE users") ` 
*   Команда выполняет удаление таблицы users

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS users(
      id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
      sex INTEGER ,
      name TEXT,
      level INTEGER ,
      score INTEGER ); 
   """)
    sql_con.commit()

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Алексей', 22, 1000);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Миша', 19, 800);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Федор', 26, 1100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (2, 'Маша', 18, 1500);
   """)
    sql_con.commit()

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1, 1, 'Алексей', 22, 1000)
(2, 1, 'Миша', 19, 800)
(3, 1, 'Федор', 26, 1100)
(4, 2, 'Маша', 18, 1500)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur1 = sql_con.cursor()
    print("База данных подключена к SQLite")
    for i in cur1.execute("""SELECT rowid, * FROM users"""):
      print(i)

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1, 1, 1, 'Алексей', 22, 1000)
(2, 2, 1, 'Миша', 19, 800)
(3, 3, 1, 'Федор', 26, 1100)
(4, 4, 2, 'Маша', 18, 1500)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("DROP TABLE users")


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 2

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("""CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
    )""")
    cur.close()
    cur2 = sql_con.cursor()
    cur2.execute("""INSERT INTO users (name, old, score) VALUES('Алексей', 18, 1000);""")
    sql_con.commit()
    cur2.close()
    

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 3

Ответ на вопрос: ранее мы указывали, когда создавали таблицу, что колонке "sex" мы всегда будем присваивать значение "1". Поэтому при добавлении записи можно не указывать данный столбец, если мы добавляем пользователей мужского пола

# Задание 4

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("""CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
    )""")
    cur.close()
    cur2 = sql_con.cursor()
    cur2.execute("""INSERT INTO users VALUES('Михаил', 1, 19, 1000)""")
    cur2.close()
    cur3 = sql_con.cursor()
    cur3.execute("""INSERT INTO users (name, old, score) VALUES('Федор', 32, 200)""")
    cur3.close()
    
    sql_con.commit()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 5.1

Ответ на вопрос: в первом случае мы делаем запрос на вывод определённых столбцов "name, old, score", а во втором мы выводим все столбцы

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, old, score FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 18, 1000)
('Михаил', 19, 1000)
('Федор', 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 5.2

Ответ на вопрос:

> `SELECT * FROM users WHERE score < 1000`
*   Вывести все записи, где у записей колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE score BETWEEN 500 AND 1000`
*   Вывести все записи, где у записей колонка "score" имеет данные между 500 и 1000

> `SELECT * FROM users WHERE old = 32`
*   Вывести все записи, где у записей колонка "old" равна 32

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score BETWEEN 500 AND 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old = 32"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 5.3

Ответ на вопрос:

> `SELECT * FROM users WHERE old > 20 AND score < 1000`
*   Вывести все записи, где у записей колонка "old" имеет данные больше 20 и колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE old IN(19, 32) AND score < 1000`
*   Вывести все записи, где у записей колонка "old" имеет данные "19" и "32" и колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1`
*   Вывести все записи, где у записей колонка "old" имеет данные "19" и "32" и колонка "score" имеет данные больше 300 или колонка "sex" имеет данные равные 1

> `SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300`
*   Вывести все записи, где у записей (колонка "old" имеет данные "19" и "32" или колонка "sex" равна 1) и колонка "score" имеет данные больше 300. ***Первым выполняется то, что в скобках***

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old > 20 AND score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old IN(19, 32) AND score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
Соединение с SQLite закрыто

# Задание  6

Ответ на вопрос:

> `SELECT * FROM users WHERE score < 1000 ORDER BY old`
*   Вывести все записи, где у записей колонка "score" меньше 1000 и сортирует это всё по возрастанию (по умолчанию это ASC)

> `SELECT * FROM users WHERE score < 1000 ORDER BY old DESC`
*   Вывести все записи, где у записей колонка "score" меньше 1000 и сортирует это всё по убыванию

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000 ORDER BY old"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000 ORDER BY old DESC"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 7

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Мария', 18, 400);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (1, 'Сергей', 33, 2000);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (1, 'Владимир', 43, 100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Елена', 18, 1500);
   """)
    cur5 = sql_con.cursor()
    cur5.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Юля', 23, 700);
   """)
    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 8

# Задание 9

# Задание 10

# Задание 11

# Задание 12

# Задание 13

# Задание 14

# Задание 15

# Задание 16

# Задание 17

# Задание 18