<a href="https://colab.research.google.com/github/Skotmak/SQL_homeworks/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D1%8B%D0%B5_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B_%D0%BF%D0%BE_SQL_%D0%9A%D0%BE%D1%87%D0%B5%D1%82%D0%BA%D0%BE%D0%B2_%D0%9C_%D0%92_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ---16.04.2022---

# Задание 1. Создание базы данных, таблиц, добавление записей и запросов на вывод данных.

Ответ на вопрос:

> `SELECT * FROM users`
*   Выводит всё, что есть в данной бд

> `SELECT rowid, * FROM users` 
*   Выводит всё, что есть в таблице, и в начале строки добавляет номер строки

> `cur.execute("DROP TABLE users") ` 
*   Команда выполняет удаление таблицы users

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS users(
      id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
      sex INTEGER ,
      name TEXT,
      level INTEGER ,
      score INTEGER ); 
   """)
    sql_con.commit()

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Алексей', 22, 1000);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Миша', 19, 800);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (1, 'Федор', 26, 1100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO users (sex, name, level, score) VALUES (2, 'Маша', 18, 1500);
   """)
    sql_con.commit()

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1, 1, 'Алексей', 22, 1000)
(2, 1, 'Миша', 19, 800)
(3, 1, 'Федор', 26, 1100)
(4, 2, 'Маша', 18, 1500)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur1 = sql_con.cursor()
    print("База данных подключена к SQLite")
    for i in cur1.execute("""SELECT rowid, * FROM users"""):
      print(i)

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1, 1, 1, 'Алексей', 22, 1000)
(2, 2, 1, 'Миша', 19, 800)
(3, 3, 1, 'Федор', 26, 1100)
(4, 4, 2, 'Маша', 18, 1500)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("DROP TABLE users")


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 2. Создание таблицы и добавление записи. Параметры создания таблицы.

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("""CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
    )""")
    cur.close()
    cur2 = sql_con.cursor()
    cur2.execute("""INSERT INTO users (name, old, score) VALUES('Алексей', 18, 1000);""")
    sql_con.commit()
    cur2.close()
    

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 3. Ответ на вопрос.

Ответ на вопрос: ранее мы указывали, когда создавали таблицу, что колонке "sex" мы всегда будем присваивать значение "1". Поэтому при добавлении записи можно не указывать данный столбец, если мы добавляем пользователей мужского пола

# Задание 4. Создание таблицы и добавление записи. Варианты добавления записей.

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cur = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur.execute("""CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
    )""")
    cur.close()
    cur2 = sql_con.cursor()
    cur2.execute("""INSERT INTO users VALUES('Михаил', 1, 19, 1000)""")
    cur2.close()
    cur3 = sql_con.cursor()
    cur3.execute("""INSERT INTO users (name, old, score) VALUES('Федор', 32, 200)""")
    cur3.close()
    
    sql_con.commit()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 5.1. Запросы к таблицам.

Ответ на вопрос: в первом случае мы делаем запрос на вывод определённых столбцов "name, old, score", а во втором мы выводим все столбцы

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, old, score FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 18, 1000)
('Михаил', 19, 1000)
('Федор', 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 5.2. Запросы к таблицам с определёнными условиями.

Ответ на вопрос:

> `SELECT * FROM users WHERE score < 1000`
*   Вывести все записи, где у записей колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE score BETWEEN 500 AND 1000`
*   Вывести все записи, где у записей колонка "score" имеет данные между 500 и 1000

> `SELECT * FROM users WHERE old = 32`
*   Вывести все записи, где у записей колонка "old" равна 32

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score BETWEEN 500 AND 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old = 32"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 5.3. Запросы к таблицам с определёнными условиями. Работа с диапазонами данных.

Ответ на вопрос:

> `SELECT * FROM users WHERE old > 20 AND score < 1000`
*   Вывести все записи, где у записей колонка "old" имеет данные больше 20 и колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE old IN(19, 32) AND score < 1000`
*   Вывести все записи, где у записей колонка "old" имеет данные "19" и "32" и колонка "score" имеет данные меньше 1000

> `SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1`
*   Вывести все записи, где у записей колонка "old" имеет данные "19" и "32" и колонка "score" имеет данные больше 300 или колонка "sex" имеет данные равные 1

> `SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300`
*   Вывести все записи, где у записей (колонка "old" имеет данные "19" и "32" или колонка "sex" равна 1) и колонка "score" имеет данные больше 300. ***Первым выполняется то, что в скобках***

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old > 20 AND score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old IN(19, 32) AND score < 1000"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
Соединение с SQLite закрыто

# Задание  6. Запросы к таблицам с определёнными условиями. ORDER BY.

Ответ на вопрос:

> `SELECT * FROM users WHERE score < 1000 ORDER BY old`
*   Вывести все записи, где у записей колонка "score" меньше 1000 и сортирует это всё по возрастанию (по умолчанию это ASC)

> `SELECT * FROM users WHERE score < 1000 ORDER BY old DESC`
*   Вывести все записи, где у записей колонка "score" меньше 1000 и сортирует это всё по убыванию

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000 ORDER BY old"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score < 1000 ORDER BY old DESC"""):
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

# Задание 7. Добавление данных и запросы к таблицам с выводом и сортировкой данных.

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Мария', 18, 400);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (1, 'Сергей', 33, 2000);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (1, 'Владимир', 43, 100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Елена', 18, 1500);
   """)
    cur5 = sql_con.cursor()
    cur5.execute("""
    INSERT INTO users (sex, name, old, score) VALUES (2, 'Юля', 23, 700);
   """)
    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5"""):
      print(i)
    cur1.close() 
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Сергей', 1, 33, 2000)
('Елена', 2, 18, 1500)
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Юля', 2, 23, 700)
Соединение с SQLite закрыто

Ответ на вопрос:

> `SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5 OFFSET 2`
*   Вывести все записи, где у записей колонка "score" имеет данные больше 100 сделать сортировку по убыванию, вывести только 5 записей и пропустить 2 записи

> `SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 2`
*   Вывести все записи, где у записей колонка "score" имеет данные больше 100 сделать сортировку по убыванию, вывести только 2 записи

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5 OFFSET 2"""):
      print(i)
    cur1.close() 
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Алексей', 1, 18, 1000)
('Михаил', 1, 19, 1000)
('Юля', 2, 23, 700)
('Мария', 2, 18, 400)
('Федор', 1, 32, 200)
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 2"""):
      print(i)
    cur1.close() 
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
('Сергей', 1, 33, 2000)
('Елена', 2, 18, 1500)
Соединение с SQLite закрыто

# Задание 8. Обновление данных.

Ответ на вопрос:

> `UPDATE users SET score = 1000 WHERE rowid = 1`
*   Изменить данные у строки 1 и сделать их "score = 1000" 

> `UPDATE users SET score = score+500 WHERE sex = 2`
*   Изменить данные у строк, где колонка "sex = 2" и добавить к их значениям 500 

> `UPDATE users SET score = 1500 WHERE name LIKE 'Федор'`
*   Изменить данные у строк, у которых в колонке name есть 'Федор' и сделать их "score = 1500" 

> `UPDATE users SET score = score+100 WHERE name LIKE 'М%'`
*   Изменить данные у строк, у которых в колонке name есть 'М%' (это регулярное выражение) и добавить к их значениям 100   

> `UPDATE users SET score = score+100 WHERE name LIKE 'С_рг%'`
*   Изменить данные у строк, у которых в колонке name есть 'С_рг%' (это регулярное выражение) и добавить к их значениям 100

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    UPDATE users SET score = 1000 WHERE rowid = 1
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    UPDATE users SET score = score+500 WHERE sex = 2
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    UPDATE users SET score = 1500 WHERE name LIKE 'Федор'
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    UPDATE users SET score = score+100 WHERE name LIKE 'М%'
   """)
    cur5 = sql_con.cursor()
    cur5.execute("""
    UPDATE users SET score = score+100 WHERE name LIKE 'С_рг%'
   """)
    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 9. Удаление данных.

Ответ на вопрос:

> `DELETE FROM users WHERE rowid IN(2, 5)`
*   Удалить записи где rowid = 2 и 5 

> `SELECT rowid, * FROM users`
*   Выводит всё, что есть в таблице, и в начале строки добавляет номер строки 

> `INSERT INTO users VALUES('Даша', 2, 24, 1200)`
*   Вставить данные в таблицу users

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")

    cur1 = sql_con.cursor()
    cur1.execute("""
    DELETE FROM users WHERE rowid IN(2, 5)
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO users VALUES('Даша', 2, 24, 1200)
   """)

    sql_con.commit()


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 10. Создание таблицы и добавление данных.

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS games(
      user_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
      time INTEGER ,
      score INTEGER ); 
   """)
    sql_con.commit()

    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO games (time, score) VALUES (22, 1000);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO games (time, score) VALUES (19, 800);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO games (time, score) VALUES (26, 1100);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO games (time, score) VALUES (18, 1500);
   """)
    sql_con.commit()

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 11. Создание запросов на вывод количества данных.

Ответ на вопрос:

> `SELECT count(user_id) FROM games WHERE user_id = 1`
*   Вывести количество значений по колонке "user_id", где user_id = 1

> `SELECT count() as count FROM games WHERE user_id = 1`
*   Вывести количество значений, где user_id = 1

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT count(user_id) FROM games WHERE user_id = 1"""):
      print(i)

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(1,)
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT count() as count FROM games WHERE user_id = 1"""):
      print(i)

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(4,)
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 12. Создание запросов на вывод с агрегацией. DISTINCT, SUM, MAX, MIN.

Ответ на вопрос:

> `SELECT DISTINCT user_id FROM games`
*   Вывести уникальные записи по колонке "user_id"

> `SELECT count(DISTINCT user_id) as count FROM games`
*   Вывести количество уникальных значений по колонке "user_id" и назвать её "count"

> `SELECT sum(score) as sum FROM games WHERE user_id = 1`
*   Вывести сумму значений по колонке "score" и назвать её "sum", где "user_id = 1"

> `SELECT max(score) FROM games WHERE user_id = 1`
*   Вывести максимальное значение по колонке "score", где "user_id = 1"

> `SELECT min(score) FROM games WHERE user_id = 1`
*   Вывести минимальное значение по колонке "score", где "user_id = 1"

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT DISTINCT user_id FROM games"""):
      print(i)
    print("-------------------------")
    cur2 = sql_con.cursor()
    for i in cur2.execute("""SELECT count(DISTINCT user_id) as count FROM games"""):
      print(i)
    print("-------------------------")
    cur3 = sql_con.cursor()
    for i in cur3.execute("""SELECT sum(score) as sum FROM games WHERE user_id = 1"""):
      print(i)
    print("-------------------------")
    cur4 = sql_con.cursor()
    for i in cur4.execute("""SELECT max(score) FROM games WHERE user_id = 1"""):
      print(i)
    print("-------------------------")
    cur5 = sql_con.cursor()
    for i in cur5.execute("""SELECT min(score) FROM games WHERE user_id = 1"""):
      print(i)
    print("-------------------------")

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(1,)
(2,)
(3,)
(4,)
-------------------------
(4,)
-------------------------
(1000,)
-------------------------
(1000,)
-------------------------
(1000,)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 13. Создание запросов с выводом данных. GROUP BY.

Ответ на вопрос:

> `SELECT user_id, sum(score) as sum FROM games GROUP BY user_id`
*   Вывести колонки "user_id", сумму значений по колонке "score" и назвать её "sum" и сгруппировать это всё по колонке "user_id"

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT user_id, sum(score) as sum FROM games GROUP BY user_id"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(1, 1000)
(2, 800)
(3, 1100)
(4, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 14. Создание запросов с выводом данных. GROUP BY + определённые условия.

Ответ на вопрос:

> `SELECT user_id, sum(score) as sum FROM games WHERE score > 300 GROUP BY user_id ORDER BY sum DESC`
*   Вывести колонки "user_id", сумму значений по колонке "score" и назвать её "sum", где "score > 300", сгруппировать это всё по колонке "user_id" и отсортировать все значения по убыванию

Отличается это всё от предыдущего запроса тем, что у нас здесь есть дополнительные параметры уточняющие запрос

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT user_id, sum(score) as sum FROM games WHERE score > 300 GROUP BY user_id ORDER BY sum DESC"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(4, 1500)
(3, 1100)
(1, 1000)
(2, 800)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 15. Создание запросов с выводом данных. LIMIT.

Ответ на вопрос: Изменится вывод. Будет выводиться только 1 запись

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT user_id, sum(score) as sum FROM games WHERE score > 300 GROUP BY user_id ORDER BY sum DESC LIMIT 1"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(4, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 16. Создание запросов с выводом данных. JOIN.

Ответ на вопрос:

> `SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid`
*   Вывести колонки "name", "sex", "games.score" используя метод **JOIN**

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
('Алексей', 1, 1000)
('Федор', 1, 1100)
('Мария', 2, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 17. Создание запросов с выводом данных. INNER JOIN, LEFT JOIN.

Ответ на вопрос:

> `SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid`
*   Вывести колонки "name", "sex", "games.score" используя метод **INNER JOIN**

> `SELECT name, sex, games.score FROM games LEFT JOIN users ON games.user_id = users.rowid`
*   Вывести колонки "name", "sex", "games.score" используя метод **LEFT JOIN**

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT name, sex, games.score FROM games INNER JOIN users ON games.user_id = users.rowid"""):
      print(i)
    print("-------------------------")
    cur2 = sql_con.cursor()
    for i in cur2.execute("""SELECT name, sex, games.score FROM games LEFT JOIN users ON games.user_id = users.rowid"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
('Алексей', 1, 1000)
('Федор', 1, 1100)
('Мария', 2, 1500)
-------------------------
('Алексей', 1, 1000)
(None, None, 800)
('Федор', 1, 1100)
('Мария', 2, 1500)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 18. Создание запросов с выводом данных. UNION.

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    print("-------------------------")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""
    SELECT user_id, score FROM games
    UNION 
    SELECT name, score FROM users"""):
      print(i)
    print("-------------------------")


    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
-------------------------
(1, 1000)
(2, 800)
(3, 1100)
(4, 1500)
('Алексей', 1000)
('Владимир', 100)
('Даша', 1200)
('Елена', 2000)
('Мария', 1000)
('Федор', 1500)
('Юля', 1200)
-------------------------
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# ---30.04.2022---

#  Задание 1. Создание базы данных и таблиц.

Ответ на вопрос:

> `Какие типы полей надо выбрать?`
*   students - id INTEGER, name TEXT, sex INTEGER, old INTEGER
*   marks - id_students INTEGER, subject TEXT, mark INTEGER,

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    cursor.close()
    print("База данных подключена к SQLite")
    curtab1 = sql_con.cursor()
    curtab1.execute("""CREATE TABLE IF NOT EXISTS students(
      id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
      name TEXT,
      sex INTEGER,
      old INTEGER)
   """)
    curtab2 = sql_con.cursor()
    curtab2.execute("""CREATE TABLE IF NOT EXISTS marks(
      id_students INTEGER NOT NULL,
      subject TEXT,
      mark INTEGER,
      FOREIGN KEY (id_students) REFERENCES students (id)) 
   """)
    sql_con.commit()

    

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    cursor.close()
    print("База данных подключена к SQLite")
    # --------------
    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO students (name, sex, old) VALUES ('Алексей', 1, 22);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO students (name, sex, old) VALUES ('Миша', 1, 19);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO students (name, sex, old) VALUES ('Федор', 1, 26);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO students (name, sex, old) VALUES ('Маша', 2, 18);
   """)
    sql_con.commit()
    # ---------------
    cur1 = sql_con.cursor()
    cur1.execute("""
    INSERT INTO marks (id_students, subject, mark) VALUES (1, 'Си', 5);
   """)
    cur2 = sql_con.cursor()
    cur2.execute("""
    INSERT INTO marks (id_students, subject, mark) VALUES (2, 'Химия', 4);
   """)
    cur3 = sql_con.cursor()
    cur3.execute("""
    INSERT INTO marks (id_students, subject, mark) VALUES (3, 'ДифУры', 3);
   """)
    cur4 = sql_con.cursor()
    cur4.execute("""
    INSERT INTO marks (id_students, subject, mark) VALUES (4, 'Химия', 4);
   """)
    sql_con.commit()

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 2. Создание запроса на поиск записей с определенными данными.

Ответ на вопрос:

> `SELECT mark FROM marks WHERE id = 2 AND subject LIKE 'Си' `
*   Вывести колонку mark из таблицы marks, где id = 2 и колонка subject имеет запись 'Си'

> `SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark > 3 AND subject LIKE 'Си' `
*   Вывести колонки name, subject и mark из таблицы marks при этом использовав метод JOIN и дополнительные условия

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT mark FROM marks WHERE id_students = 1 AND subject LIKE 'Си' """): 
      # здесь я использовал id_students = 1 потому что у меня в таблице только у одого студента есть предмет 'Си'
      print(i)
    print('----------')
    cur2 = sql_con.cursor()
    for i in cur2.execute("""SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id_students WHERE mark > 3 AND subject LIKE 'Си'"""): 
      print(i)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
(5,)
----------
('Алексей', 'Си', 5)
Соединение с SQLite закрыто

# Задание 3. Создание запросов с методом JOIN и с определёнными условиями.

Ответ на вопрос:

> `SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark > (SELECT mark FROM marks WHERE id = 2 AND subject LIKE 'Си') AND subject LIKE 'Си' `
*   Этот запрос ничего не выводит тк ничего не нашёл (пришёл ответ null)

> `SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark > (SELECT mark FROM marks WHERE id = 2 ) AND subject LIKE 'Си'`
*   Вывести колонки name, subject и mark из таблицы marks при этом использовав метод JOIN и дополнительные условия

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    print('First request: ')
    for i in cur1.execute("""SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id_students WHERE mark > (SELECT mark FROM marks WHERE id_students = 2 AND subject LIKE 'Си') AND subject LIKE 'Си'"""): 
      print(i)
    print('----------')

    cur2 = sql_con.cursor()
    print('Second request: ')
    for i in cur2.execute("""SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id_students WHERE mark > (SELECT mark FROM marks WHERE id_students = 2 ) AND subject LIKE 'Си'"""): 
      print(i)



except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
First request:
----------
Second request:
('Алексей', 'Си', 5)
Соединение с SQLite закрыто

Создание таблицы female и выполнение дальнейшего задания

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    cursor.close()
    print("База данных подключена к SQLite")
    curtab1 = sql_con.cursor()
    curtab1.execute("""CREATE TABLE IF NOT EXISTS female(
      id INTEGER,
      name TEXT,
      sex INTEGER,
      old INTEGER)
   """)
    sql_con.commit()

    

    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""
                INSERT INTO female SELECT id, name, sex, old FROM students WHERE sex = 2
                """)
    sql_con.commit()


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 4. Обновление данных в определённых строках.

Ответ на вопрос:

> `UPDATE marks SET mark = 0 WHERE mark <= (SELECT min(mark) FROM marks WHERE id = 1)`
*   Этот запрос обновляет данные в колонке mark тем строкам, которые соответствуют условиям

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""
                UPDATE marks SET mark = 0 WHERE mark <= (SELECT min(mark) FROM marks WHERE id_students = 1)
                """)
    sql_con.commit()


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 5. Удаление определённых строк.

Ответ на вопрос:

> `DELETE FROM students WHERE old < (SELECT old FROM students WHERE id = 2)`
*   Этот запрос удаляет строки, которые соответствуют условиям

In [ ]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""
                DELETE FROM students WHERE old < (SELECT old FROM students WHERE id = 2)
                """)
    sql_con.commit()



except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 6. Варианты добавления записей, commit и rollback, свойство lastrowid.

Создание таблицы "cars" и добавление записей

In [ ]:
import sqlite3 as sq
 
with sq.connect("cars.db") as con:
    cur = con.cursor()
 
    cur.execute("""CREATE TABLE IF NOT EXISTS cars (
        car_id INTEGER PRIMARY KEY AUTOINCREMENT,
        model TEXT,
        price INTEGER
    )""")

    cur.execute("INSERT INTO cars VALUES(1,'Audi',52642)")

    cur.execute("INSERT INTO cars VALUES(2,'Mercedes',57127)")

    cur.execute("INSERT INTO cars VALUES(3,'Skoda',9000)")

    cur.execute("INSERT INTO cars VALUES(4,'Volvo',29000)")

    cur.execute("INSERT INTO cars VALUES(5,'Bentley',350000)")

    con.commit()

Другой вариант добавления записей

In [ ]:
import sqlite3 as sq
 
cars = [
    ('Audi', 52642),
    ('Mercedes', 57127),
    ('Skoda', 9000),
    ('Volvo', 29000),
    ('Bentley', 350000),
    ('KAMAZ КОМПАС', 32642),
    ('Лада Президент', 5154),
    ('Москвич пасфаиндер', 3000)
]

with sq.connect("cars.db") as con:
    cur = con.cursor()
 
    cur.execute("""CREATE TABLE IF NOT EXISTS cars (
        car_id INTEGER PRIMARY KEY AUTOINCREMENT,
        model TEXT,
        price INTEGER
    )""")

    for car in cars: cur.execute("INSERT INTO cars VALUES(NULL, ?, ?)", car)

    con.commit()

commit и rollback

In [ ]:
con = None

try:

    con = sq.connect("cars.db")
    cur = con.cursor()
 
    cur.executescript("""CREATE TABLE IF NOT EXISTS cars (
            car_id INTEGER PRIMARY KEY AUTOINCREMENT,
            model TEXT,
            price INTEGER
        );
        BEGIN;
        INSERT INTO cars VALUES(NULL,'Audi',52642);
        INSERT INTO cars VALUES(NULL,'Mercedes',57127);
        INSERT INTO cars VALUES(NULL,'Skoda',9000);
        INSERT INTO cars VALUES(NULL,'Volvo',29000);
        INSERT INTO cars VALUES(NULL,'Bentley',350000);
        UPDATE cars SET price = price+1000
    """)
    con.commit()
 
except sq.Error as e:
    if con: con.rollback()
    print("Ошибка выполнения запроса")
finally:
    if con: con.close()

Если операции с таблицами прошли успешно, то они будут сохранены, если же возникли какие-либо ошибки (исключения), то будет вызван метод rollback, который откатывает состояние БД в состояние отметки BEGIN, то есть, все внесенные изменения применены не будут.

Свойство lastrowid

In [ ]:
with sq.connect("cars.db") as con:
    cur = con.cursor()
 
    cur.executescript("""CREATE TABLE IF NOT EXISTS cust(name TEXT, tr_in INTEGER, buy INTEGER)""")
 
    cur.execute("INSERT INTO cars VALUES(NULL,'Запорожец', 1000)")
    
    last_row_id = cur.lastrowid

    buy_car_id = 2

    cur.execute("INSERT INTO cust VALUES('Федор', ?, ?)", (last_row_id, buy_car_id))

# --- 14.05.2022 ---

# Задание 1. Создание базы данных, создание таблиц, создание связей (PRIMARY KEY и FOREIGN KEY).

Необходимо создать 5 таблиц

In [12]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('university.db')
    cursor = sql_con.cursor()
    cursor.close()
    print("База данных подключена к SQLite")
    curtab1 = sql_con.cursor()
    curtab1.execute("""CREATE TABLE IF NOT EXISTS control (
    	"id_exam"	INTEGER NOT NULL,
    	"id_name_exam"	INTEGER NOT NULL,
    	"id_mark"	INTEGER NOT NULL,
    	"id_name_student"	INTEGER NOT NULL,
	    "id_groupe_stud"	INTEGER NOT NULL,
    	PRIMARY KEY("id_exam" AUTOINCREMENT),
	    FOREIGN KEY("id_name_exam") REFERENCES "subject"("id_subject"),
	    FOREIGN KEY("id_name_student") REFERENCES "students"("id_student"),
	    FOREIGN KEY("id_mark") REFERENCES "marks"("id_marks_stud"),
	    FOREIGN KEY("id_groupe_stud") REFERENCES "groups"("id_group"));
   """)
    curtab2 = sql_con.cursor()
    curtab2.execute("""CREATE TABLE IF NOT EXISTS groups (
    	"id_group"	INTEGER NOT NULL,
    	"name_group"	TEXT NOT NULL,
	    PRIMARY KEY("id_group" AUTOINCREMENT));
   """)
    curtab3 = sql_con.cursor()
    curtab3.execute("""CREATE TABLE IF NOT EXISTS marks (
    	"id_marks_stud"	INTEGER NOT NULL ,
    	"mark_stud"	INTEGER NOT NULL,
    	PRIMARY KEY("id_marks_stud" AUTOINCREMENT)); 
   """)
    curtab4 = sql_con.cursor()
    curtab4.execute("""CREATE TABLE IF NOT EXISTS students (
	    "id_student"	INTEGER NOT NULL,
	    "name"	TEXT NOT NULL,
	    "date_year"	INTEGER NOT NULL,
	    "num_stud"	INTEGER NOT NULL,
	    PRIMARY KEY("id_student" AUTOINCREMENT));
   """)
    curtab5 = sql_con.cursor()
    curtab5.execute("""CREATE TABLE IF NOT EXISTS subject (
    	"id_subject"	INTEGER NOT NULL,
    	"name_subject"	TEXT NOT NULL,
    	"count_hours"	INTEGER NOT NULL,
    	PRIMARY KEY("id_subject" AUTOINCREMENT));
   """)
    sql_con.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 2. Наполнение таблиц массивами данных.

Наполняем таблицы данными

In [13]:
import sqlite3
import traceback
import sys

control_data = [
                (1, 4, 1, 1),
                (2, 5, 2, 2),
                (3, 5, 3, 3),
                (4, 2, 4, 2),
                (5, 1, 5, 2),
                (2, 3, 6, 3),
                (3, 3, 7, 2),
                (2, 5, 8, 3)          
]


groups_data = [
          ("хагиваги"),
          ("неудачники 4го курса"),
          ("peugeot and citroen")
]

marks_data = [
         ('1'),
         ('2'),
         ('3'),
         ('4'),
         ('5')
]

students_data = [
            ('Артём', 2000, 5634),
            ('Василий', 2001, 5637),
            ('Сергей', 2002, 8797),
            ('Валентин', 2010, 8796),
            ('Юля', 2003, 1253),
            ('Александр', 2003, 7687),
            ('Мафтуна', 2002, 9067),
            ('Кирилл', 2008, 3232),
            ('Ахмед', 2002, 2121),
            ('Джузеппе', 2002, 3234),
            ('Юра', 2000, 7756),
            ('Кристиан', 2004, 4645),
            ('Сеннеко', 2004, 6645),
            ('Кинг', 2001, 8847),
            ('Марсель', 2000, 8467)
]

subject_data = [
           ('математика', 20),
           ('изо', 10),
           ('музыка', 10),
           ('русский язык', 20),
           ('информатика', 30)
]

try:
    con = sqlite3.connect('university.db')
    cur = con.cursor()
    print("База данных подключена к SQLite")
    # --------------   
    cur.executemany("""INSERT INTO control (id_name_exam, id_mark, id_name_student, id_groupe_stud) VALUES(?, ?, ?, ?)""", control_data)
    cur.executemany("""INSERT INTO groups (name_group) VALUES(?);""", zip(groups_data))
    cur.executemany("""INSERT INTO marks (mark_stud) VALUES(?);""", marks_data)
    cur.executemany("""INSERT INTO students (name, date_year, num_stud) VALUES(?, ?, ?);""", students_data)
    cur.executemany("""INSERT INTO subject (name_subject, count_hours) VALUES(?, ?);""", subject_data)
    con.commit()
    cur.close()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  -1
Соединение с SQLite закрыто

# Задание 3. Создание запроса с JOIN и с заданными условиями.

In [60]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('university.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""
        SELECT id_groupe_stud, groups.name_group, students.name, MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student, groups ON control.id_groupe_stud = groups.id_group WHERE id_groupe_stud = 1 
        UNION
        SELECT id_groupe_stud, groups.name_group, students.name, MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student, groups ON control.id_groupe_stud = groups.id_group WHERE id_groupe_stud = 2 
        UNION
        SELECT id_groupe_stud, groups.name_group, students.name, MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student, groups ON control.id_groupe_stud = groups.id_group WHERE id_groupe_stud = 3
        """): 
        print(i[0], 'группа =', i[1] + '; ' 'имя студента =', i[2] + '; ', 'оценка =', i[3])

# work SELECT id_groupe_stud, 'группа = ', groups.name_group, students.name, 'оценка = ', MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student, groups ON control.id_groupe_stud = groups.id_group WHERE id_groupe_stud = 1

# work SELECT id_groupe_stud, students.name, MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student WHERE id_groupe_stud = 1
# work UNION 
# work SELECT id_groupe_stud, id_name_student, MIN(id_mark) FROM control WHERE id_groupe_stud = 1
# work UNION
# work SELECT id_groupe_stud, students.name, MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student WHERE id_groupe_stud = 2 
# work UNION 
# work SELECT id_groupe_stud, id_name_student, MIN(id_mark) FROM control WHERE id_groupe_stud = 2
# work UNION
# work SELECT id_groupe_stud, students.name, MIN(id_mark) FROM control LEFT JOIN students ON control.id_name_student = students.id_student WHERE id_groupe_stud = 3 
# work UNION 
# work SELECT id_groupe_stud, id_name_student, MIN(id_mark) FROM control WHERE id_groupe_stud = 3 

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
1 группа = хагиваги; имя студента = Артём;  оценка = 4
2 группа = неудачники 4го курса; имя студента = Юля;  оценка = 1
3 группа = peugeot and citroen; имя студента = Александр;  оценка = 3
Соединение с SQLite закрыто

# Задание 4. Создание бэкапов.

**Создание бэкапа базы данных**

Вывод sql запросов в консоль

In [61]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('university.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
 
    for sql in sql_con.iterdump():
        print(sql)



except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
BEGIN TRANSACTION;
CREATE TABLE "control" (
    	"id_exam"	INTEGER NOT NULL,
    	"id_name_exam"	INTEGER NOT NULL,
    	"id_mark"	INTEGER NOT NULL,
    	"id_name_student"	INTEGER NOT NULL,
	    "id_groupe_stud"	INTEGER NOT NULL,
    	PRIMARY KEY("id_exam" AUTOINCREMENT),
	    FOREIGN KEY("id_name_exam") REFERENCES "subject"("id_subject"),
	    FOREIGN KEY("id_name_student") REFERENCES "students"("id_student"),
	    FOREIGN KEY("id_mark") REFERENCES "marks"("id_marks_stud"),
	    FOREIGN KEY("id_groupe_stud") REFERENCES "groups"("id_group"));
INSERT INTO "control" VALUES(1,1,4,1,1);
INSERT INTO "control" VALUES(2,2,5,2,2);
INSERT INTO "control" VALUES(3,3,5,3,3);
INSERT INTO "control" VALUES(4,4,2,4,2);
INSERT INTO "control" VALUES(5,5,1,5,2);
INSERT INTO "control" VALUES(6,2,3,6,3);
INSERT INTO "control" VALUES(7,3,3,7,2);
INSERT INTO "control" VALUES(8,2,5,8,3);
CREATE TABLE groups (
    	"id_group"	INTEGER NOT NULL,
    	"name_group"	TEXT NOT NULL,
	    PRIMARY KEY("id_group" AUTOINCREMENT));
INSERT INTO "groups" VALUES(1,'хагиваги');
INSERT INTO "groups" VALUES(2,'неудачники 4го курса');
INSERT INTO "groups" VALUES(3,'peugeot and citroen');
CREATE TABLE marks (
    	"id_marks_stud"	INTEGER NOT NULL ,
    	"mark_stud"	INTEGER NOT NULL,
    	PRIMARY KEY("id_marks_stud" AUTOINCREMENT));
INSERT INTO "marks" VALUES(1,1);
INSERT INTO "marks" VALUES(2,2);
INSERT INTO "marks" VALUES(3,3);
INSERT INTO "marks" VALUES(4,4);
INSERT INTO "marks" VALUES(5,5);
DELETE FROM "sqlite_sequence";
INSERT INTO "sqlite_sequence" VALUES('control',8);
INSERT INTO "sqlite_sequence" VALUES('groups',3);
INSERT INTO "sqlite_sequence" VALUES('marks',5);
INSERT INTO "sqlite_sequence" VALUES('students',15);
INSERT INTO "sqlite_sequence" VALUES('subject',5);
CREATE TABLE students (
	    "id_student"	INTEGER NOT NULL,
	    "name"	TEXT NOT NULL,
	    "date_year"	INTEGER NOT NULL,
	    "num_stud"	INTEGER NOT NULL,
	    PRIMARY KEY("id_student" AUTOINCREMENT));
INSERT INTO "students" VALUES(1,'Артём',2000,5634);
INSERT INTO "students" VALUES(2,'Василий',2001,5637);
INSERT INTO "students" VALUES(3,'Сергей',2002,8797);
INSERT INTO "students" VALUES(4,'Валентин',2010,8796);
INSERT INTO "students" VALUES(5,'Юля',2003,1253);
INSERT INTO "students" VALUES(6,'Александр',2003,7687);
INSERT INTO "students" VALUES(7,'Мафтуна',2002,9067);
INSERT INTO "students" VALUES(8,'Кирилл',2008,3232);
INSERT INTO "students" VALUES(9,'Ахмед',2002,2121);
INSERT INTO "students" VALUES(10,'Джузеппе',2002,3234);
INSERT INTO "students" VALUES(11,'Юра',2000,7756);
INSERT INTO "students" VALUES(12,'Кристиан',2004,4645);
INSERT INTO "students" VALUES(13,'Сеннеко',2004,6645);
INSERT INTO "students" VALUES(14,'Кинг',2001,8847);
INSERT INTO "students" VALUES(15,'Марсель',2000,8467);
CREATE TABLE subject (
    	"id_subject"	INTEGER NOT NULL,
    	"name_subject"	TEXT NOT NULL,
    	"count_hours"	INTEGER NOT NULL,
    	PRIMARY KEY("id_subject" AUTOINCREMENT));
INSERT INTO "subject" VALUES(1,'математика',20);
INSERT INTO "subject" VALUES(2,'изо',10);
INSERT INTO "subject" VALUES(3,'музыка',10);
INSERT INTO "subject" VALUES(4,'русский язык',20);
INSERT INTO "subject" VALUES(5,'информатика',30);
COMMIT;
Соединение с SQLite закрыто

Сохранение бэкапа в файл

In [63]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('university.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
 
    with open("sql_damp.sql", "w") as f:
        for sql in con.iterdump():
            f.write(sql)


except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

# Задание 5. Удаление таблиц и восстановление их через бэкап.

Удаление таблиц

In [73]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('university.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    cur.execute("""DROP TABLE control""")
    cur.execute("""DROP TABLE groups""")
    cur.execute("""DROP TABLE marks""")
    cur.execute("""DROP TABLE students""")
    cur.execute("""DROP TABLE subject""")         

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто

Восстановление таблиц

In [72]:
import sqlite3
import traceback
import sys

try:
    sql_con = sqlite3.connect('university.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur = sql_con.cursor()
    with open("sql_damp.sql", "r") as f:
        sql = f.read()
        cur.executescript(sql)

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Соединение с SQLite закрыто